/* elements */

body, table, tr, td, h1, h2, h3, h4, h5, h6 {

	/* display: inline; */
	border-spacing: 0;
 	border-collapse: collapse; 
	border-style: none;
	empty-cells: show;
	border: 0;
	vertical-align: top; 
}

body {
	padding: 10px 60px 300px 60px;
    font-size: 21px;
    background-color: #f07636;
    color: #07FE92;
}

a:link {
	color: #00F; 
}

a:visited {
	color: #FFF; 
}

a:hover {
	background-color: #00F;
	color: #FFF; 
}

a:active {
	background-color: #00F;
	color: #FFF; 
}

form, input {
	margin: 0;
	padding: 0; 
}


/* ids */

#title {
	color: #00F; 
}

#title:hover {
	color: #FFF; 
	background-color: #00F; 
}

#title a:link {
	color: #00F;
	text-decoration: none; 
}

#title a:visited {
	color: #00F;
	text-decoration: none; 
}

#title a:hover {
	color: #FFF; 
	background-color: #00F; 
}

#title a:active {
	color: #FFF; 
	background-color: #00F; 
}

#badge {
    position: fixed;
    right: 60px;
    bottom: 20px;
    width: 220px;
}

img {
    display: block;
    width: 100%;
}


/* classes */

.keep {
	color: #000; }

.keep a:link {
	color: #00F;
	text-decoration: underline; }

.keep a:visited {
	color: #00F;
	text-decoration: underline; }

.keep a:hover {
	color: #FFF; 
	background-color: #00F; }

.keep a:active {
	color: #FFF; 
	background-color: #00F; }




.ledger {
	width: 100%;
	border-bottom: 1px solid #DDD; }

.ledger:hover {
	text-decoration: none;
	background-color: #DDF6FF; }

.ledger a:link {
	color: #00F;
	text-decoration: none;
	background-color: transparent; }

.ledger a:visited {
	color: #FFF;
	text-decoration: none;
	background-color: transparent; }

.ledger a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #00F; }

.ledger a:active {
	color: #FFF;
	text-decoration: none;
	background-color: #00F; }

.project {
	background-color: #00F;
	color: #FFF; }

.project a:link {
	color: #FFF; }

.project a:visited {
	color: #FFF; }

.project a:hover {
	color: #FFF; }

.project a:active {
	color: #FFF; }

.column {
	width: 300px;
	margin: 0;
	padding: 0 20px 0 0; }

.screensaver {
	color: #F00;
	background-color: transparent; }

.screensaver a:link {
	color: #F00;
	background-color: transparent; }

.screensaver a:visited {
	color: #F00;
	background-color: transparent; }

.screensaver a:hover {
	color: #FF0; 
	background-color: #F00; }

.screensaver a:active {
	color: #FFF; 
	background-color: #FF0; }
	
.orgStore {
	color: #0C0;
	background-color: transparent; }

.orgStore a:link {
	color: #0C0;
	background-color: transparent; }

.orgStore a:visited {
	color: #0C0;
	background-color: transparent; }

.orgStore a:hover {
	color: #FFF; 
	background-color: #0C0; }

.orgStore a:active {
	color: #FFF; 
	background-color: #0C0; }




.orgStoreActive {
	color: #FFF;
	background-color: #0C0; }

.orgStoreActive a:link {
	color: #FFF;
	background-color: #0C0;
	text-decoration: none; }

.orgStoreActive a:visited {
	color: #FFF;
	background-color: #0C0;
	text-decoration: none; }

.orgStoreActive a:hover {
	color: #FFF; 
	background-color: #0C0;
	text-decoration: none; }

.orgStoreActive a:active {
	color: #FFF; 
	background-color: #0C0;
	text-decoration: none; }




.keep2 {
	color: #000; }

.keep2 a:link {
	color: #00F;
	text-decoration: underline; }

.keep2 a:visited {
	color: #00F;
	text-decoration: underline; }

.keep2 a:hover {
	color: #FFF; 
	background-color: #00F; }

.keep2 a:active {
	color: #FFF; 
	background-color: #00F; }

.subpage-synopsis {
	display: none;
}





