/* elements */

body, table, tr, td, h1, h2, h3, h4, h5, h6 {

	/* display: inline; */
	border-spacing: 0;
 	border-collapse: collapse; 
	border-style: none;
	empty-cells: show;
	border: 0;
	vertical-align: top; 
}
::root
{
	/*--background-color: #fff;*/
    /*--text-color: #000;*/
}
body {
	margin: 0;
	/*padding: 20px 60px 90px 60px;*/
    font-size: 21px;
    /*background-color: #F07636;*/
    /*color: #07FE92;*/
    color: var(--text-color);
    /*background-color: var(--background-color);*/
}
a,
a:link,
a:visited {
    /*color: #00F;*/
    color: var(--highlight-color);
    cursor: pointer;
    text-decoration: none;
}

/*a:visited {
    color: var(--background-color);
}*/

.is_day a:hover,
.is_day a:active,
.is_day a.active
 {
    background-color: var(--highlight-color);
	color: #FFF; 
}

.is_night a:hover,
.is_night a:active,
.is_night a.active
 {
    background-color: var(--highlight-color);
	color: var(--background-color);
}

form, input {
	margin: 0;
	padding: 0; 
}


/* ids */


#title {
	color: var(--highlight-color);
	text-decoration: none; 
}

#title:visited {
	/*color: var(--highlight-color);*/
	/*text-decoration: none; */
}

#title:hover {
	color: var(--background-color); 
	background-color: var(--highlight-color); 
}

#title:active {
	color: var(--background-color); 
	background-color: var(--highlight-color);
}

#badge {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 220px;
    height: 220px;
    border-radius: 10%;
    overflow: hidden;
    transition: opacity .5s;
    /*pointer-events: none;*/
}
#clock
{
	position: fixed;
    right: 20px;
    bottom: 20px;
    width: 220px;
    /*pointer-events: none;*/
}

#background {
	position: fixed;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url('/media/sky-2.jpg');
	background-size: cover;
	z-index: -1;
	display: none;
}

#geolocation {
	position: fixed;
	right: 25px;
	top: 50%;
	transform: translate(50%, -50%) rotate(-90deg);
	transition: opacity .15s;
}
#past-websites-container
{
	position: fixed;
	left: 25px;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	transition: opacity .15s;
}
#opencall-container
{
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%, 0);
	transition: opacity .15s;
}
img {
    display: block;
    width: 100%;
}
#content img
{
	border-radius: 20px;
	max-width: 600px;
	margin: 0 auto;
}

/* classes */

.keep {
	color: #000; }

.keep a:link {
	color: #00F;
	text-decoration: underline; }

.keep a:visited {
	color: #00F;
	text-decoration: underline; }

.keep a:hover {
	color: #FFF; 
	background-color: #00F; }

.keep a:active {
	color: #FFF; 
	background-color: #00F; }




.ledger {
	width: 100%;
	border-bottom: 1px solid #DDD; }

.ledger:hover {
	text-decoration: none;
	background-color: #DDF6FF; }

.ledger a:link {
	color: #00F;
	text-decoration: none;
	background-color: transparent; }

.ledger a:visited {
	color: #FFF;
	text-decoration: none;
	background-color: transparent; }

.ledger a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #00F; }

.ledger a:active {
	color: #FFF;
	text-decoration: none;
	background-color: #00F; }

.project {
	background-color: #00F;
	color: #FFF; }

.project a:link {
	color: #FFF; }

.project a:visited {
	color: #FFF; }

.project a:hover {
	color: #FFF; }

.project a:active {
	color: #FFF; }

.column {
	width: 300px;
	margin: 0;
	padding: 0 20px 0 0; }

.screensaver {
	color: #F00;
	background-color: transparent; }

.screensaver a:link {
	color: #F00;
	background-color: transparent; }

.screensaver a:visited {
	color: #F00;
	background-color: transparent; }

.screensaver a:hover {
	color: #FF0; 
	background-color: #F00; }

.screensaver a:active {
	color: #FFF; 
	background-color: #FF0; }
	
.orgStore {
	color: #0C0;
	background-color: transparent; }

.orgStore a:link {
	color: #0C0;
	background-color: transparent; }

.orgStore a:visited {
	color: #0C0;
	background-color: transparent; }

.orgStore a:hover {
	color: #FFF; 
	background-color: #0C0; }

.orgStore a:active {
	color: #FFF; 
	background-color: #0C0; }




.orgStoreActive {
	color: #FFF;
	background-color: #0C0; }

.orgStoreActive a:link {
	color: #FFF;
	background-color: #0C0;
	text-decoration: none; }

.orgStoreActive a:visited {
	color: #FFF;
	background-color: #0C0;
	text-decoration: none; }

.orgStoreActive a:hover {
	color: #FFF; 
	background-color: #0C0;
	text-decoration: none; }

.orgStoreActive a:active {
	color: #FFF; 
	background-color: #0C0;
	text-decoration: none; }
.keep2 {
	color: #000; }

.keep2 a:link {
	color: #00F;
	text-decoration: underline; }

.keep2 a:visited {
	color: #00F;
	text-decoration: underline; }

.keep2 a:hover {
	color: #FFF; 
	background-color: #00F; }

.keep2 a:active {
	color: #FFF; 
	background-color: #00F; }

.subpage-synopsis {
	display: none;
}

.sans,
.sans > a {
	font-family: helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

/* menu */

#menu-container {
	position: fixed;
	max-width: 100%;	
	bottom: 0;
	left: 0;
	/*background-color: #fff;*/
	transition: opacity .5s;
}

#menu {
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity .5s;
}

#menu-btn {
	position: absolute;
	left: 20px;
	bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    /* border-radius: 5%; */
    padding: 10px;
    background-color: #FFF;
    cursor: pointer;
}

.viewing-menu #menu {
	width: auto;
	height: auto;
	overflow: visible;
	opacity: 1;
}

.viewing-menu #menu-container {
	box-sizing: border-box;
	padding: 25px 60px 60px 60px;
	width: 100vw;
	height: 100vh;
}
header
{
	padding: 20px 60px 0 60px;
}
.viewing-menu header
{
	display: none;
}
.menu-item + .menu-item
{
	margin-top: 17px;
}

.subpage #intro,
.subpage #outro
{
	display: none;
}

/* transition */
#intro {
	margin-bottom: 24px; /* one linebreak */ 
	transition: opacity .5s;
}
#outro {
	margin-top: 24px; /* one linebreak */ 
	transition: opacity .5s;
}
#content {
	transition: opacity .5s;
}
#content-container
{
	transition: opacity .5s;
	padding: 0px 60px 90px 60px;
}
.subpage #content-container
{
	padding-bottom: 300px;
}
#content-container.transition
{
	opacity: 0;
	transition: none;
}
.viewing-menu #content-container
{
	transition: none;
	opacity: 0;
}

/* loading sequences  */
body[loadingstage="0"] #menu-container,
body[loadingstage="0"] #badge,
/*body[loadingstage="0"] #geolocation,*/
body[loadingstage="0"] #content,
body[loadingstage="0"] #intro,
body[loadingstage="0"] #outro,
body[loadingstage="0"] #past-websites-container,
body[loadingstage="0"] #opencall-container
{
	opacity: 0;
	pointer-events: none;
}
body[loadingstage="1"] #menu-container,
body[loadingstage="1"] #badge,
/*body[loadingstage="0"] #geolocation,*/
body[loadingstage="1"] #content,
body[loadingstage="1"] #intro,
body[loadingstage="1"] #outro,
body[loadingstage="1"] #past-websites-container,
body[loadingstage="1"] #opencall-container
{
	opacity: 0;
	pointer-events: none;
}

body[loadingstage="2"] #menu-container,
body[loadingstage="2"] #content,
body[loadingstage="2"] #intro,
body[loadingstage="2"] #outro,
body[loadingstage="2"] #past-websites-container,
body[loadingstage="2"] #opencall-container
{
	opacity: 0;
	pointer-events: none;
}
body[loadingstage="0"] #content-container,
body[loadingstage="1"] #content-container
{
	height: 0;
	overflow: hidden;
}
#lang-toggle
{
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
}
#loading-msg
{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
.loading #loading-msg
{
	display: block;
}
body[loadingstage="0"] #live-background
{
	z-index: 1000;
	pointer-events: auto;
}

#live-background
{
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	overflow: hidden;
	pointer-events: none;
	transition: opacity .5s;
}
.loading #live-background
{
	opacity: 0;
}
#live-background > iframe,
#badge > iframe
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#consent-container
{
	position: fixed;
	z-index: 1001;
	display: none;
	pointer-events: none;
	background-color: ;
}

body[loadingstage="0"] #consent-container
{
	display: block;
}

.playing-player-server #badge
{
	pointer-events: none;
}
#institutions-logos-container
{
	margin-top: 120px;
	/*text-align: center;*/
}
#institutions-logos-container svg
{
	width: 400px;
	margin: 0 auto;
	display: block;
}
#institutions-logos-container path{
	fill: var(--text-color) !important;
}

body.en #opencall-container a:last-child {
	display: none;
}
body.es #opencall-container a:first-child {
	display: none;
}
body.en .es,
body.es .en
{
	display: none;
}

.bio-anchor
{
	padding-top: 30px;
	margin-top: -30px;
}

.footnote-container
{
	list-style: none;
    margin: 0;
    padding-left: 11px;
    font-size: 15px;
    width: 75%;
    min-width: 300px;
    margin-top: 72px;
}
.footnote-item
{
	text-indent: -11px;
}
.footnote-item > sup:first-child
{
	margin-right: 3px;
}
iframe body
{
	padding: 0;
}
@media screen and (max-width: 500px)
{   
	body {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 17px;
	}
	#badge,
	#clock
	{
		width: 140px;
		height: 140px;
	}
	.sans
	{
		font-size: 13px;
	}
	.footnote-container
	{
		width: 80%;
	    min-width: 0;
	}
	#institutions-logos-container svg
	{
		width: 100%;
	}
}
