/* elements */

body, table, tr, td, h1, h2, h3, h4, h5, h6 {

	/* display: inline; */
	border-spacing: 0;
 	border-collapse: collapse; 
	border-style: none;
	empty-cells: show;
	border: 0;
	vertical-align: top; 
}
::root
{
	/*--background-color: #F07636;*/
    /*--text-color: #07FE92;*/
}
body {
	padding: 10px 60px 300px 60px;
    font-size: 21px;
    /*background-color: #F07636;*/
    /*color: #07FE92;*/
    color: var(--text-color);
    /*background-color: var(--background-color);*/
}

a:link {
    /*color: #00F;*/
    color: var(--highlight-color);
}

a:visited {
    color: var(--background-color);
}

.is_day a:hover,
.is_day a:active {
    background-color: var(--highlight-color);
	color: #FFF; 
}

.is_night a:hover,
.is_night a:active {
    background-color: var(--highlight-color);
	color: var(--background-color);
}

form, input {
	margin: 0;
	padding: 0; 
}


/* ids */


#title:link {
	color: var(--highlight-color);
	text-decoration: none; 
}

#title:visited {
	color: var(--highlight-color);
	/*text-decoration: none; */
}

#title:hover {
	color: var(--background-color); 
	background-color: var(--highlight-color); 
}

#title:active {
	color: var(--background-color); 
	background-color: var(--highlight-color);
}

#badge {
    position: fixed;
    right: 40px;
    bottom: 20px;
    width: 220px;
}

img {
    display: block;
    width: 100%;
}


/* classes */

.keep {
	color: #000; }

.keep a:link {
	color: #00F;
	text-decoration: underline; }

.keep a:visited {
	color: #00F;
	text-decoration: underline; }

.keep a:hover {
	color: #FFF; 
	background-color: #00F; }

.keep a:active {
	color: #FFF; 
	background-color: #00F; }




.ledger {
	width: 100%;
	border-bottom: 1px solid #DDD; }

.ledger:hover {
	text-decoration: none;
	background-color: #DDF6FF; }

.ledger a:link {
	color: #00F;
	text-decoration: none;
	background-color: transparent; }

.ledger a:visited {
	color: #FFF;
	text-decoration: none;
	background-color: transparent; }

.ledger a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #00F; }

.ledger a:active {
	color: #FFF;
	text-decoration: none;
	background-color: #00F; }

.project {
	background-color: #00F;
	color: #FFF; }

.project a:link {
	color: #FFF; }

.project a:visited {
	color: #FFF; }

.project a:hover {
	color: #FFF; }

.project a:active {
	color: #FFF; }

.column {
	width: 300px;
	margin: 0;
	padding: 0 20px 0 0; }

.screensaver {
	color: #F00;
	background-color: transparent; }

.screensaver a:link {
	color: #F00;
	background-color: transparent; }

.screensaver a:visited {
	color: #F00;
	background-color: transparent; }

.screensaver a:hover {
	color: #FF0; 
	background-color: #F00; }

.screensaver a:active {
	color: #FFF; 
	background-color: #FF0; }
	
.orgStore {
	color: #0C0;
	background-color: transparent; }

.orgStore a:link {
	color: #0C0;
	background-color: transparent; }

.orgStore a:visited {
	color: #0C0;
	background-color: transparent; }

.orgStore a:hover {
	color: #FFF; 
	background-color: #0C0; }

.orgStore a:active {
	color: #FFF; 
	background-color: #0C0; }




.orgStoreActive {
	color: #FFF;
	background-color: #0C0; }

.orgStoreActive a:link {
	color: #FFF;
	background-color: #0C0;
	text-decoration: none; }

.orgStoreActive a:visited {
	color: #FFF;
	background-color: #0C0;
	text-decoration: none; }

.orgStoreActive a:hover {
	color: #FFF; 
	background-color: #0C0;
	text-decoration: none; }

.orgStoreActive a:active {
	color: #FFF; 
	background-color: #0C0;
	text-decoration: none; }




.keep2 {
	color: #000; }

.keep2 a:link {
	color: #00F;
	text-decoration: underline; }

.keep2 a:visited {
	color: #00F;
	text-decoration: underline; }

.keep2 a:hover {
	color: #FFF; 
	background-color: #00F; }

.keep2 a:active {
	color: #FFF; 
	background-color: #00F; }

.subpage-synopsis {
	display: none;
}

.sans
{
	font-family: helvetica, sans-serif;
}
#background{
	position: fixed;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url('/media/sky-color.jpg');
	background-size: cover;
	z-index: -1;
}
#geolocation
{
	font-weight: bold;
	font-size: 16px;
	position: fixed;
	right: 20px;
	top: 50%;
	transform: translate(50%, -50%) rotate(-90deg);
}
#menu-container
{
	position: fixed;
	
	max-width: 100%;
	
	bottom: 0;
	left: 0;
	background-color: #fff;
}
#menu
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: none;
}
#menu-btn
{
	position: absolute;
	left: 40px;
	bottom: 20px;
}
.viewing-menu #menu
{
	display: block;
}
.viewing-menu #menu-container
{
	width: 100vw;
	height: 100vh;
}
